@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    padding: 35px 50px;
}

header{
    background-color:crimson;
    width: 50%;
    height: 10vh;
    text-align: left;
    padding: 15px 10px;
}
h2{
    padding: 15px 10px;
}
.principal {
    width: 100%;
    background-color: whitesmoke;
}
.principal_section{
    display: flex;
    margin: 20px 10px;
    align-items: center;
    justify-content:space-between;
    width: 20%;
}

.footer{
    width: 50%;
    background-color: crimson;
}

.list_item:hover{
    transform: translateY(-5px);
    cursor: pointer;
    font-weight: 120;
    background-color: whitesmoke;
}
.list{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;

}