.itemBody{
    display: inline-block;
}
main{
    background-color: whitesmoke;
}

#titulo{
    background-color:crimson;
    font-size: x-large;
}
#piePag{
    display: inline-flex;
    background-color:crimson;
}
body{
    display: inline-block;
    
}
* { 
    margin: 10px;
    padding: 20px;
    box-sizing:content-box;
}
#tablaDatos{
    margin-left: 20px;
}

